.topBar {
    padding: 0 36px 0 38px;
    height: $topBarHeight;
    background-color: #f5f5f5;
    opacity: 1;
    transition: opacity 0.25s 0.15s ease-in-out;
    
    &.is-hidden{
        opacity: 0;
    }

    &__left {
        padding: 0 12px;
    }

    &__right {
        &>* {
            padding: 4px 8px;
            text-transform: capitalize;


            &:not(:first-child) {
                padding: 4px 8px 4px 4px;

                &::before {
                    content: "|";
                    padding: 0 12px 0 0;
                }
            }
        }
    }

    &-nav-item {
        @include text--sm;
        height: 100%;
        display: flex;
        align-items: center;

        &:hover {
            color: $text-primary-hover;
        }
    }

}

.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    transform: translateY(0);
    transition: all 0.25s ease-in-out;
}

.is-hidden {
    transform: translateY(-$navBarHeight);
}

.navBar-wrapper {
    width: 100%;

    &.is-fixed{
        .navBar{
            &--search{
                animation: none;
            }
        }
    }

    .navBar {
        position: relative;
        padding: 0 36px 0 38px;
        display: flex;
        justify-content: space-between;
        height: $navBarHeight;
        background-color: #fff;

        &--search {
            @include onSearchTranslate;
            animation: onSearchTranslate 0.25s 0.25s ease-in-out forwards;

            .navBar {
                &__left {
                    flex: 0 0 25%;
                }

                &__right {
                    flex: 0 0 75%;

                    .main-menu {}

                    .searchBar-wrapper {
                        margin: 0 0 0 38px;
                        flex: 1 0 $searchBarExpanded;

                        &--expanded {
                            .searchBar {
                                float: right;

                                &__input {
                                    width: $searchBarExpanded;
                                }

                                &__clearText-btn {
                                    position: absolute;
                                    right: 2px;
                                    top: 0px;
                                    padding: 6px 8px;
                                    cursor: pointer;
                                    border-radius: 999px;

                                    &:hover {
                                        background-color: #e5e5e5;
                                    }
                                }
                            }

                            .searchTerm-wrapper {
                                visibility: visible;
                                opacity: 1;
                                height: $searchTermHeight;
                            }
                        }
                    }

                    .utility {
                        width: 100%;
                        justify-content: flex-end;
                        gap: 0;


                        &__button-group {
                            justify-content: flex-end;

                            .utility-btn {
                                &--close {
                                    transform: scale(0);
                                    @include scale;
                                    animation: scale 0.15s 0.5s ease-in-out forwards;
                                }
                            }
                        }
                    }
                }
            }
        }

        &__left {
            padding: 0 12px;
            flex: 0 0 33.33%;

            .main-logo {
                z-index: 1;

                &:hover {
                    opacity: 0.6;
                }
            }
        }

        &__right {
            flex: 0 0 66.66%;

            .utility {
                gap: 12px;
                z-index: 1;


                &__button-group {
                    display: flex;
                    gap: 12px;
                    transition: width 0.25s ease-in-out;

                    .utility-btn {
                        margin: auto 0;
                        padding: 6px;
                        border-radius: 9999px;

                        &:hover {
                            background-color: #e5e5e5;
                        }

                        &--close {
                            padding: 14px;
                            background-color: #f5f5f5;
                        }
                    }
                }
            }
        }

        &-nav-item {
            @include text--md;
            padding: 16px 12px 18px;
            height: 100%;
            display: flex;
            align-items: center;
            text-transform: capitalize;
            border-bottom: 2px solid transparent;

            &:hover {
                border-color: #111111;
            }
        }

        .main-menu {
            position: absolute;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}


.searchBar-wrapper {
    margin-left: auto;
    margin-right: 12px;
    z-index: 1;

    .searchBar {
        position: relative;
        display: flex;

        &__logo {
            padding: 6px 8px;
            position: absolute;
            border-radius: 20px;

            &:hover {
                background-color: #e5e5e5;
                cursor: pointer;
            }

        }

        &__input {
            @include text--md;
            width: 180px;
            padding: 8px 48px;
            border-radius: 20px;
            background: #f5f5f5;
            border: none;
            transition: width 0.25s ease-in-out;

            &:hover {
                background-color: #e5e5e5;
            }
        }
    }

    .searchTerm-wrapper {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: -1;
        left: 0;
        top: $navBarHeight;
        padding: 36px 32px 0;
        height: 0px;
        width: 100%;
        background-color: #fff;
        transition: all 0.25s ease-in-out;

        .searchTerm {
            max-width: $searchBarExpanded;
            margin: 0 auto;

            &__heading {
                @include text-menu--heading;
                @include translate;
                @include fadeIn;
                padding-bottom: 16px;
                text-transform: capitalize;
                color: $text-secondary;
                opacity: 0;
                animation: translate .25s .5s ease-in-out forwards,
                    fadeIn .25s .5s ease-in-out forwards;
            }

            &__list {

                &-item {
                    @include text-searchTerm--item;
                    @include translate;
                    @include fadeIn;
                    margin-bottom: 12px;
                    opacity: 0;
                    animation: translate .25s .65s ease-in-out forwards,
                        fadeIn .25s .65s ease-in-out forwards;

                    &:hover {
                        color: $text-searchTerm-hover;
                    }
                }
            }
        }
    }

    .overlay {}
}

.menu-dropdown-container {

    &__topBar {
        position: relative;

        .menu-dropdown-wrapper {
            padding: 24px 24px 16px;
            border-radius: 0 0 10px 10px;
            min-width: 240px;
            top: 30px;
            right: 0;
        }
    }

    &__navBar {
        .menu-dropdown-wrapper {
            padding: 16px 40px 40px;
            min-width: 100%;
            max-height: 100vh;
            top: $navBarHeight;
            left: 0;

            .menu-dropdown {
                margin: 0 auto;
                display: flex;
                justify-content: center;
                max-width: 1344px;

                &>.subMenu {
                    width: calc(100% / 6);
                    transform: translateY(-20px);
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.25s 0.15s ease-in-out;

                    &--one-half {
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                    }
                }
            }
        }
    }

    &:hover {
        .menu-dropdown-wrapper {
            opacity: 1;
            visibility: visible;

            .menu-dropdown {
                &>.subMenu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }
    }

    &.menu-dropdown-container__topBar {
        .menu-dropdown-wrapper {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-20px);
            transition: all 0.25s ease-in-out;
        }

        &:hover {
            .menu-dropdown-wrapper {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }

        .menu-dropdown-wrapper {}
    }

    &:hover.menu-dropdown-container__navBar {
        .menu-dropdown-wrapper {
            .menu-dropdown {
                &>.subMenu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }
    }
}

.menu-dropdown-wrapper {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: $bg-white;
    z-index: 99;
    transition: max-height 0.15s ease-out;

    .menu-dropdown {
        width: 100%;

        .subMenu {
            width: 100%;

            &__heading {
                @include text-menu--heading;
                margin-bottom: 12px;
                padding: 4px 8px;
            }

            &__list {
                &-item {
                    @include text-menu--item;
                    padding: 4px 8px;

                    &:hover {
                        color: $text-primary;
                    }
                }
            }
        }
    }
}

.backdrop {
    @include fadeIn;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: hsla(0, 0%, 7%, .36);
    backdrop-filter: blur(4px);
    animation: fadeIn 0.5s ease-in-out;

}

.body {
    width: 100%;
    height: 200vh;
    background-color: salmon;
}