.topBar {
    padding: 0 36px 0 38px;
    height: $topBarHeight;
    background-color: #f5f5f5;
    opacity: 1;
    transition: opacity 0.25s 0.15s ease-in-out;

    @include lg-down {
        display: none;
    }

    &.is-hidden {
        opacity: 0;
    }

    &__left {
        padding: 0 12px;
    }

    &__right {
        &>* {
            padding: 4px 8px;
            text-transform: capitalize;


            &:not(:first-child) {
                padding: 4px 8px 4px 4px;

                &::before {
                    content: "|";
                    padding: 0 12px 0 0;
                }
            }
        }
    }

    &-nav-item {
        @include text--sm;
        height: 100%;
        display: flex;
        align-items: center;

        &:hover {
            color: $text-primary-hover;
        }
    }

}

.navBar-wrapper {
    width: 100%;

    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        transform: translateY(0);
        transition: all 0.25s ease-in-out;
    }

    &.is-hidden {
        transform: translateY(-$navBarHeight);
    }

    &.is-fixed {
        .navBar {
            &--search {
                animation: none;
            }
        }
    }

    .navBar {
        position: relative;
        padding: 0 36px 0 38px;
        display: flex;
        justify-content: space-between;
        height: $navBarHeight;
        background-color: #fff;

        @include lg-down {
            padding: 0 16px;
        }

        &--search {
            @include onSearchTranslate;
            animation: onSearchTranslate 0.25s 0.25s ease-in-out forwards;

            @include lg-down {
                animation: none;
            }

            .navBar {
                &__left {
                    flex: 0 0 25%;

                    @include lg-down {
                        display: none;
                    }
                }

                &__right {
                    flex: 0 0 75%;

                    @include lg-down {
                        flex: 0 0 100%;
                    }

                    .main-menu {}

                    .searchBar-wrapper {
                        margin: 0 0 0 38px;
                        flex: 1 0 $searchBarExpanded;

                        @include lg-down {
                            flex: 1 1 auto;
                            margin: 0 16px 0 38px;
                        }

                        &--expanded {
                            .searchBar {
                                float: right;
                                width: $searchBarExpanded;

                                @include lg-down {
                                    width: 100%;
                                    transition: width 0.25s ease-in-out
                                }

                                .searchForm {
                                    width: 100%;
                                }

                                &__input {
                                    @include lg-down {
                                        display: block;
                                    }
                                }

                                &__clearText-btn {
                                    position: absolute;
                                    right: 2px;
                                    top: 0px;
                                    padding: 6px 8px;
                                    cursor: pointer;
                                    border-radius: 999px;

                                    &:hover {
                                        background-color: #e5e5e5;
                                    }
                                }
                            }

                            .searchTerm-wrapper {
                                visibility: visible;
                                opacity: 1;
                                height: $searchTermHeight;
                            }
                        }
                    }

                    .utility {
                        width: 100%;
                        justify-content: flex-end;
                        gap: 0;

                        @include lg-down {
                            justify-content: unset;
                            width: unset;
                        }

                        &__button-group {
                            justify-content: flex-end;

                            .utility-btn {
                                &--close {
                                    transform: scale(0);
                                    @include scale;
                                    animation: scale 0.15s 0.5s ease-in-out forwards;

                                    // @include lg-down{

                                    // }
                                }
                            }
                        }
                    }
                }
            }
        }

        &__left {
            padding: 0 12px;
            flex: 0 0 33.33%;

            .main-logo {
                z-index: 1;

                &:hover {
                    opacity: 0.6;
                }
            }
        }

        &__right {
            flex: 0 0 66.66%;

            .utility {
                gap: 12px;
                z-index: 1;

                &__button-group {
                    display: flex;
                    gap: 12px;
                    transition: width 0.25s ease-in-out;

                    .utility-btn {
                        margin: auto 0;
                        padding: 6px;
                        border-radius: 9999px;
                        cursor: pointer;

                        &:hover {
                            background-color: #e5e5e5;
                        }

                        &--close {
                            padding: 14px;
                            background-color: #f5f5f5;
                        }

                        &--wishlist {
                            @include lg-down {
                                display: none;
                            }
                        }

                        &--bars {
                            display: none;

                            @include lg-down {
                                display: flex
                            }
                        }
                    }
                }
            }
        }

        &-nav-item {
            @include text--md;
            padding: 16px 12px 18px;
            height: 100%;
            display: flex;
            align-items: center;
            text-transform: capitalize;
            border-bottom: 2px solid transparent;

            &:hover {
                border-color: #111111;
            }
        }

        .main-menu {
            position: absolute;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;

            @include lg-down {
                display: none;
            }
        }
    }
}


.searchBar-wrapper {
    margin-left: auto;
    margin-right: 12px;
    z-index: 1;

    .searchBar {
        position: relative;
        display: flex;
        width: 180px;
        transition: width 0.25s ease-in-out;


        @include lg-down {
            width: 36px;
            height: 36px;
            padding: 0;
            transition: none

        }

        &__icon {
            padding: 6px 8px;
            border-radius: 20px;

            @include lg-down {
                padding: 6px;
                display: flex;
            }

            &:hover {
                background-color: #e5e5e5;
                cursor: pointer;
            }
        }

        &__input {
            @include text--md;
            width: 100%;
            padding: 8px 48px;
            border-radius: 20px;
            background: #f5f5f5;
            border: none;
            // transition: width 0.25s ease-in-out;

            &:hover {
                background-color: #e5e5e5;
            }

            @include lg-down {
                display: none;
            }
        }
    }

    // @include lg-down{
    //     .searchBar{
    //         &__input{
    //             display: none;
    //         }
    //     }
    // }

    .searchTerm-wrapper {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: -1;
        left: 0;
        top: $navBarHeight;
        padding: 36px 32px 0;
        height: 0px;
        width: 100%;
        background-color: #fff;
        transition: all 0.25s ease-in-out;

        .searchTerm {
            max-width: $searchBarExpanded;
            margin: 0 auto;

            &__heading {
                @include text-menu--heading;
                @include translate;
                @include fadeIn;
                padding-bottom: 16px;
                text-transform: capitalize;
                color: $text-secondary;
                opacity: 0;
                animation: translate .25s .5s ease-in-out forwards,
                    fadeIn .25s .5s ease-in-out forwards;
            }

            &__list {

                &-item {
                    @include text-searchTerm--item;
                    @include translate;
                    @include fadeIn;
                    margin-bottom: 12px;
                    opacity: 0;
                    animation: translate .25s .65s ease-in-out forwards,
                        fadeIn .25s .65s ease-in-out forwards;

                    &:hover {
                        color: $text-searchTerm-hover;
                    }
                }
            }
        }
    }

    .overlay {}
}

.menu-dropdown-container {

    &__topBar {
        position: relative;

        .menu-dropdown-wrapper {
            padding: 24px 24px 16px;
            border-radius: 0 0 10px 10px;
            min-width: 240px;
            top: 30px;
            right: 0;
        }
    }

    &__navBar {
        .menu-dropdown-wrapper {
            padding: 16px 40px 40px;
            min-width: 100%;
            max-height: 100vh;
            top: $navBarHeight;
            left: 0;

            .menu-dropdown {
                margin: 0 auto;
                display: flex;
                justify-content: center;
                max-width: 1344px;

                &>.subMenu {
                    width: calc(100% / 6);
                    transform: translateY(-20px);
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.25s 0.15s ease-in-out;

                    &--group {
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                    }
                }
            }
        }
    }

    &:hover {
        .menu-dropdown-wrapper {
            opacity: 1;
            visibility: visible;

            .menu-dropdown {
                &>.subMenu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }
    }

    &.menu-dropdown-container__topBar {
        .menu-dropdown-wrapper {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-20px);
            transition: all 0.25s ease-in-out;
        }

        &:hover {
            .menu-dropdown-wrapper {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }

        .menu-dropdown-wrapper {}
    }

    &:hover.menu-dropdown-container__navBar {
        .menu-dropdown-wrapper {
            .menu-dropdown {
                &>.subMenu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }
    }
}

.menu-dropdown-wrapper {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: $bg-white;
    z-index: 99;
    transition: max-height 0.15s ease-out;

    .menu-dropdown {
        width: 100%;

        .subMenu {
            width: 100%;

            &__heading {
                @include text-menu--heading;
                margin-bottom: 12px;
                padding: 4px 8px;
            }

            &__list {
                &-item {
                    @include text-menu--item;
                    padding: 4px 8px;

                    &:hover {
                        color: $text-primary;
                    }
                }
            }
        }
    }
}

.backdrop {
    @include fadeIn;
    position: fixed;
    top: $topBarHeight;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: hsla(0, 0%, 7%, .36);
    backdrop-filter: blur(4px);
    animation: fadeIn 0.5s ease-in-out;
    z-index: 1000;

    &--sidebar {
        top: 0;
        z-index: 9999;
    }
}

.sidebar-container {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.15s ease-in;
    z-index: 10000;

    &.is-active {
        transform: translateX(calc(100% / 1.5));
    }
}

.sidebar-wrapper {
    width: $sideBarWidth;
    background-color: $bg-white;

    .sidebar {
        padding: 6px 36px 150px;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
        height: 100%;
        overflow-y: scroll;

        .close-btn-wrapper {
            display: flex;
            justify-content: flex-end;
            transform: translateX(10px);

            .close-btn {
                margin-top: 8px;
                padding: 6px;
                display: flex;
                border-radius: 999px;
                cursor: pointer;

                &:hover {
                    background-color: #e5e5e5;
                }
            }
        }


        &__menu-list {
            .menu-list__item {
                padding: 10px 0;
                display: flex;
                align-items: center;
                @include text--lg;
                font-weight: 500;
                text-transform: capitalize;

                .item__title {
                    flex: 1;
                    cursor: pointer;
                }
            }
        }

        &__bottom {
            padding-top: 16px;

            .brand-item-list {
                padding-top: 12px;

                .brand-item {
                    padding: 4px 0 8px;
                    display: flex;
                    align-items: center;

                    &__logo {}

                    &__title {
                        @include text--md;
                        font-weight: 500;
                        padding-left: 12px;
                    }
                }
            }

            .register {
                margin: 50px 12px 0 0;
                padding-top: 48px;

                &__heading {
                    padding-bottom: 16px;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 500;
                    color: $text-secondary;

                    a {
                        color: $text-primary;
                    }
                }

                &__button-group {
                    margin-top: 8px;
                    display: flex;

                    .btn {
                        margin-top: 8px;
                        padding: 6px 20px;
                        border-radius: 999px;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 500;
                        text-transform: capitalize;

                        &--primary {
                            background-color: $bg-black;
                            color: $text-white;

                            &:hover {
                                background-color: $bg-grey;
                            }
                        }

                        &--outlined {
                            background-color: $bg-white;
                            border: 1.5px solid transparent;
                            border-color: #ccc;

                            &:hover {
                                border-color: $border-black;
                            }
                        }

                        &:not(:last-child) {
                            margin-right: 8px;
                        }
                    }
                }
            }

            .utility {
                margin-top: 50px;

                &-list {
                    &__item {
                        padding-top: 12px;

                        .item {
                            padding: 5px 0;

                            &__icon {}

                            &__title {
                                padding-left: 12px;
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 500;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }

        }
    }
}

.subMenus {
    display: flex;

    .subMenu-wrapper {
        width: $sideBarWidth;
        background-color: $bg-white;

        .subMenu {
            padding: 46px 36px 150px;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            width: 100%;
            height: 100%;
            overflow-y: scroll;

            .back-btn-wrapper {
                margin-bottom: 28px;
                display: flex;
                align-items: center;
                cursor: pointer;

                .back-btn {
                    width: 100%;

                    &__text {
                        padding-left: 16px;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                }
            }

            &__menu-list {
                .menu-list__item {
                    padding: 10px 0;
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;
                    color: $text-secondary;
                    text-transform: capitalize;

                    .item__title {
                        flex: 1;
                        cursor: pointer;
                    }

                    .item__chevron {
                        filter: invert(43%) sepia(15%) saturate(0%) hue-rotate(294deg) brightness(102%) contrast(85%);
                    }
                }
            }

            &__heading {
                padding: 7px 0;
                margin-bottom: 16px;
                font-size: 24px;
                line-height: 28px;
                color: $text-primary;
                font-weight: 500;
                text-transform: capitalize;
            }

        }
    }
}

// sideBar menu transform animation
.sidebar-container {
    overflow-x: hidden;

    .t-left {
        transform: translateX(-50%);
    }

    .t-left-2 {
        transform: translateX(-100%);
    }

    .t-right {
        transform: translateX(-50%);
    }

    .t-right-2 {
        transform: translateX(50%);
    }


    .sidebar-wrapper {
        transition: all 0.25s ease-in-out;
    }

    .subMenus {
        transition: all 0.25s ease-in-out;
    }
}

.body {
    width: 100%;
    height: 200vh;
    background-color: white;
}