.topBar {
    padding: 0 36px 0 38px;
    height: $topBarHeight;
    background-color: #f5f5f5;

    &__left {
        padding: 0 12px;
    }

    &__right {
        &>* {
            padding: 4px 8px;
            text-transform: capitalize;


            &:not(:first-child) {
                padding: 4px 8px 4px 4px;

                &::before {
                    content: "|";
                    padding: 0 12px 0 0;
                }
            }
        }
    }

    &-nav-item {
        @include text--sm;
        height: 100%;
        display: flex;
        align-items: center;

        &:hover {
            color: $text-primary-hover;
        }
    }

}

.navBar {
    position: relative;
    padding: 0 36px 0 38px;
    height: $navBarHeight;

    &__left {
        padding: 0 12px;
        flex: 0 0 33.33%;
    }

    &__right {
        flex: 0 0 66.66%;
        justify-content: space-between;

        .main-menu {}

        .utility {
            gap: 12px;

            .utility-btn {
                margin: auto 0;
                padding: 6px;
                border-radius: 9999px;

                &:hover {
                    background-color: #e5e5e5;
                }
            }
        }
    }

    &-nav-item {
        @include text--md;
        padding: 16px 12px 18px;
        height: 100%;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        border-bottom: 2px solid transparent;

        &:hover {
            // color: $text-primary-hover;
            border-color: #111111;
        }
    }
}

.menu-dropdown-container {
    height: 100%;

    &__topBar {
        position: relative;

        .menu-dropdown-wrapper {
            padding: 24px 24px 16px;
            min-width: 240px;
            top: $topBarHeight;
            right: 0;
        }
    }

    &__navBar {
        .menu-dropdown-wrapper {
            padding: 16px 40px 40px;
            min-width: 100vw;
            max-height: 100vh;
            top: $navBarHeight;
            left: 0;

            .menu-dropdown {
                margin: 0 auto;
                display: flex;
                justify-content: center;
                max-width: 1344px;

                &>.subMenu {
                    width: calc(100% / 6);

                    &--one-half{
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                    }
                }
            }
        }
    }


    &:hover {
        .menu-dropdown-wrapper {
            opacity: 1;
            visibility: visible;
        }
    }
}

.menu-dropdown-wrapper {
    position: absolute;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    visibility: hidden;
    background-color: $bg-white;
    z-index: 10;

    .menu-dropdown {
        width: 100%;

        .subMenu {
            width: 100%;

            &__heading {
                @include text-menu--heading;
                margin-bottom: 12px;
                padding: 4px 8px;

            }

            &__list {

                &-item {
                    @include text-menu--item;
                    padding: 4px 8px;

                    &:hover {
                        color: $text-primary;
                    }
                }
            }
        }
    }
}

.searchBar-wrapper {}

.searchBar {
    position: relative;
    display: flex;

    &__logo {
        padding: 6px 8px;
        position: absolute;
        border-radius: 20px;

        &:hover {
            background-color: #e5e5e5;
            cursor: pointer;
        }

    }

    &__input {
        @include text--md;
        width: 180px;
        padding: 8px 48px;
        border-radius: 20px;
        background: #f5f5f5;
        border: none;

        &:hover {
            background-color: #e5e5e5;
        }
    }
}