@mixin scale {
    @keyframes scale {
        from{
            transform: scale(0);
        }
        to{
            transform: scale(1);
        }
    }
}

@mixin onSearchTranslate {
    @keyframes onSearchTranslate {
        from{
            transform: translate(0);
        }
        to{
            transform: translateY(- $topBarHeight);
        }
    }
}

@mixin fadeIn {
    @keyframes fadeIn {
        from{
            transform: translateY(-20px);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }
}