@mixin text--sm {
    font-size: 12px;
    line-height: 14px;
    color: $text-primary;
}

@mixin text-menu--heading {
    font-size: 16px;
    line-height: 28px;
    color: $text-primary;
}

@mixin text-menu--item {
    font-size: 14px;
    line-height: 20px;
    color: $text-secondary;
}

@mixin text--md {
    font-size: 16px;
    line-height: 1.5;
    color: $text-primary;
}

