
@mixin text--sm {
    font-size: 12px;
    line-height: 14px;
    color: $text-primary;
}

@mixin text-menu--heading {
    font-size: 16px;
    line-height: 28px;
    color: $text-primary;
}

@mixin text-menu--item {
    font-size: 14px;
    line-height: 20px;
    color: $text-secondary;
}

@mixin text-searchTerm--item {
    font-size: 20px;
    line-height: 1.1;
    color: $text-primary;
    font-weight: 500;
}

@mixin text--md {
    font-size: 16px;
    line-height: 1.5;
    color: $text-primary;
}

@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin lg-down {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
}


