$topBarHeight: 36px;
$navBarHeight: 60px;
$searchBarExpanded: 656px;
$searchTermHeight: 312px;

$text-primary: #111111;
$text-primary-hover: #757575;
$text-secondary: #757575;
$text-searchTerm-hover: #4d4d4d;

$bg-white: #ffffff;

$screen-lg-min: 960px;