.container{
    &--fluid{
        width: 100%;
    }
}

.flex{
    display: flex;

    &-col{
        flex-direction: column;
    }
}

.justify{
    &-center{
        justify-content: center;
    }
    &-between{
        justify-content: space-between;
    }
}

.align{
    &-center{
        align-items: center;
    }
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.top-0{
    top: 0;
}
.left-0{
    left: 0;
}

.z-1{
    z-index: 1;
}
.z-50{
    z-index: 50;
}
.z-99{
    z-index: 50;
}
.z-9999{
    z-index: 9999;
}

.overflow-hidden{
    overflow: hidden;
}
