.container{
    &--fluid{
        width: 100%;
    }
}

.flex{
    display: flex;

    &-col{
        flex-direction: column;
    }
}

.justify{
    &-center{
        justify-content: center;
    }
    &-between{
        justify-content: space-between;
    }
}

.align{
    &-center{
        align-items: center;
    }
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}

.z-99{
    z-index: 99;
}
